<h1>Add new User</h1>
<span>{{errorMessage}}</span>
<form method="post" action="/users/create">
	Name: <input type="text" name="name" id="name"/><br />
	<input type="submit" value="Salvar" />
</form>
